.GameTree {
    background-image: url("../images/texture-of-burnt-wood.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid #575757;
    border-radius: 6px;
    box-sizing: border-box;
    flex-grow: 1;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
    box-shadow: inset 0 0 2px #000;
}

.Leaf {
    font-size: 18px;
    padding: 5px;
    height: 27px;
    line-height: 27px;
    width: calc(44%  - 11px);
    text-align: center;
    border-right: 1px solid #666666;
    color: #784444;
    background-color: #77555544;
    user-select: none;
    font-weight: bold;
}

.Enabled .Leaf {
    cursor: pointer;
}

.Disabled .Leaf {
    cursor: default;
}

.TreeNode {
    font-size: 18px;
    padding: 5px;
    height: 27px;
    line-height: 27px;
    width: calc(44%  - 11px);
    text-align: center;
    border-right: 1px solid #666666;
    color: #404040;
    user-select: none;
}

.Enabled .TreeNode {
    cursor: pointer;
}

.Disabled .TreeNode {
    cursor: default;
}

.Enabled .TreeNode:hover {
    background-color: #808080;
    color: #f0f0f0;
}

.TurnNumber {
    border-right: 1px solid #666666;
    width: calc(12% - 11px);
    height: 27px;
    line-height: 27px;
    padding: 5px;
    text-align: center;
    color: #505050;
    font-weight: bold;
    user-select: none;
}

.EmptyNode {
    font-size: 16px;
    padding: 5px;
    height: 27px;
    line-height: 27px;
    width: calc(44%  - 11px);
    text-align: center;
    border-right: 1px solid #666666;
    color: #404040;
    user-select: none;
}

.SubTree {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #69696933;
    box-shadow: inset 0 0 3px #000;
}

.SubTree .Leaf {
    font-size: 15px;
    height: 22px;
    line-height: 22px;
    width: calc(45.5%  - 11px);
}

.SubTree .TurnNumber {
    width: calc(9% - 11px);
    height: 22px;
    line-height: 22px;
    font-size: 12px;
}

.SubTree .TreeNode {
    width: calc(45.5%  - 11px);
    font-size: 15px;
    line-height: 22px;
    height: 22px;
}

.SubTree .EmptyNode {
    width: calc(45.5%  - 11px);
    font-size: 15px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
